/* styles.css */
body {
    margin: 0;
    padding: 0;

}

.mainContainer {
    display: flex;
    flex-direction: column;
    background: radial-gradient(
        circle,
        rgb(195, 221, 229) 0%,
        rgb(47, 93, 97) 100%
    );
    height: 755px;
    width: auto;
    align-items: center;
    justify-content: center;
}

.headerContainer{
    font-family: 'Cascadia Code', monospace;
    font-size: 40px;
}


.calContainer {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    border: 3px solid black;
}

.display {
    display: flex;
    background-color: rgb(212, 212, 212);
    height: 100px;
    font-family: 'Cascadia Code', monospace;
    font-size: 40px;
    justify-content: right;
    align-items: center;
    border: 1px solid black;


}

.calGridContainer {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 400px;
    height: 350px;
}

.specOpButton{
    font-family: 'Cascadia Code', monospace;
    font-size: 20px;
    background-color: rgb(159, 159, 159);
    border: 1px solid black;
}

.operatorButton{
    font-family: 'Cascadia Code', monospace;
    font-size: 20px;
    background-color: rgb(254, 178, 0);
    border: 1px solid black;
}

.button{
    font-family: 'Cascadia Code', monospace;
    font-size: 20px;
    border: 1px solid black;
}